<!DOCTYPE html>
<html lang="en"data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
</head>
<body>
    <%- include("partials/cabecalho.ejs") %>
    <div class="container">

        <div >
            <div >
                <br> 
              <a href="/fornecedores" class="btn btn-info"> Relatório dos fornecedores no sistema </a> 
              <br>
            </div>

            <div >
                <br>
                <a href="/fornecedores/cadastrar" class="btn btn-success"> Cadastramento de novos fornecedores </a> 
                <br>
            </div>
        </div>

        <div>
            <br>
           <br> <a href="/produtos" class="btn btn-info"> Relatorio de produtos </a> <br>
           <br>
           <a href="/produtos/cadastrar" class="btn btn-success"> Cadastramento de produtos </a> 
        </div>

        <div>
            <br>
           <br> <a href="/usuarios" class="btn btn-info"> Relatorio de Usuarios </a> <br>
           <br>
           <a href="/usuarios/cadastrar" class="btn btn-success"> Cadastramento de Usuarios </a> 
        </div>

    </div>

   <%- include("partials/rodape.ejs") %>
</body>
</html>